h1 {
    color: ghostwhite;
    font-family : serif;
    font-size : 50px;
    background-color:rgb(36, 32, 32);
}
body {
     margin : 0;
     padding : 20px;
     background-color : lightsteelblue;
    
}
h2 {
    font-family : serif;
    font-size: 30px;
}
p {
    font-family : cursive;
    font-size: 17px;
}
h3 {
    font-family : serif;
}